[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-multipart = "*"
opencv-python = "*"
onnxruntime = "*"
mtcnn = "*"
tensorflow = "*"
matplotlib = "*"
scikit-image = "*"
scikit-learn = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
